@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bgColor: #0e1229;
  --bgColorCard: #2e3354;
  --borderSideBarMenu: #686363bb;
  --foreground: #fff;
  --deActiveTxt: #d4d1d1cb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bgColor: #0e1229;
    --bgColorCard: #2e3354;
    --borderSideBarMenu: #686363bb;
    --foreground: #fff;
    --deActiveTxt: #d4d1d1cb;

  }
}

body {
  color: var(--foreground);
  background: var(--bgColor);
  font-family: Arial, Helvetica, sans-serif;
}
